$red: #F23838;
$black: #000;
$gray: #AFAFAF;
$white: #FFF;
$green: #22FF99;
$yellow: #E0B700;

$pokedex-width: 720px;
$pokedex-height: 520px;
$pokedex-header-height: 90px;
$pokedex-screen-height: 300px;