@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.RightScreen {
  @include border-black();
  background-color: $green;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 30px 15px 30px 30px;
  max-height: 260px;
  overflow-y: scroll;
  padding: 10px;

  &__item {
    padding: 2px;
    text-transform: capitalize;
    background-color: $green;
    border: none;
    text-align: left;

    &:hover {
      background-color: darken($green, 50%);
      color: $white;
      cursor: pointer;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
  }

  &__item_details {
    background-color: $green;
    border: none;
    padding: 2px 0;
    text-align: left;
    text-transform: capitalize;

    &__moves {
      display: flex;
      flex-wrap: wrap;

      span {
        @include border-black();
        border-radius: 20px;
        margin-bottom: 3px;
        margin-right: 3px;
        padding-top: 0;
        padding: 5px;
        text-transform: capitalize;
      }
    }
  }
}
